* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #0c73db;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.carousel {
  max-height: 500px;
  overflow: hidden;
}

.carousel-inner img {
  height: 500px;
  object-fit: cover;
}